a {
    text-decoration: none !important;
    color: #444;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none !important;
    color: #C94E47 !important;
}

td {
    transition: all 0.2s ease;
    cursor: pointer;
}

td:hover {
    background: #333;
}

* {
    font-family: 'Roboto', sans-serif;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {

    background: #F2F2F2;
}

*:focus {
    outline: none !important;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.header {

    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background: #444;
}

.padrao {

    width: 100%;
    max-width: 1200px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.titulo-1 {


    background-image: url('bg1.png');
    background-color: #EFEAEC;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.titulo-1>.title-pc {

    display: inline-block;
    width: 60%;
    text-align: left;
    vertical-align: top;
    padding: 40px;
}

.titulo-1>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 75%;
    padding-bottom: 40px;
    display: none;

}


.titulo-2 {


    background-image: url('/docs/images/backgrounds/bg2.png');
    background-color: #EBF0F2;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.titulo-2>.title-pc {

    display: inline-block;
    width: 55%;
    text-align: left;
    vertical-align: top;
    padding: 40px;
}

.titulo-2>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 65%;
    padding-bottom: 40px;
    display: none;

}


.titulo-3 {


    background-image: url('bg3.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.titulo-3>.title-pc {

    display: inline-block;
    width: 65%;
    text-align: left;
    vertical-align: top;
    padding: 40px;
}

.titulo-3>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 80%;
    padding-bottom: 40px;
    display: none;

}


.titulo-4 {


    background-image: url('bg4.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-4>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 40px;
}

.titulo-4>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}


.titulo-5 {


    background-image: url('bg5.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #444;
}

.titulo-5>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 20%;

}

.titulo-5>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 50%;
    display: none;

}


.titulo-6 {

    background-image: url('bg6.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-6>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 10% 50px;

}

.titulo-6>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 30%;
    padding-bottom: 30%;
    display: none;

}


.titulo-7 {


    background-image: url('bg7.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center -100px;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-7>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 10% 50px;

}

.titulo-7>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}


.titulo-8 {


    background-image: url('bg8.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-8>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 10% 50px;

}

.titulo-8>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}


.titulo-9 {


    background-image: url('bg9.png');
    background-color: #E3F0E0;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
}

.titulo-9>.title-pc {

    display: inline-block;
    width: 70%;
    text-align: left;
    vertical-align: top;
    padding: 10% 50px;

}

.titulo-9>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 85%;
    padding-bottom: 10%;
    display: none;

}

.titulo-10 {


    background-image: url('bg10.png');
    background-color: #F1E68E;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
}

.titulo-10>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 50px;
    padding-top: 15%;
    padding-bottom: 5%;

}

.titulo-10>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 85%;
    padding-bottom: 10%;
    display: none;

}

.titulo-11 {


    background-image: url('bg11.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-11>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 10% 50px;

}

.titulo-11>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}

.titulo-12 {


    background-image: url('bg12.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #444;
}

.titulo-12>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 20%;

}

.titulo-12>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 50%;
    display: none;

}




.titulo-13 {


    background-image: url('bg13.png');
    background-color: #E2E7E4;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #444;
}

.titulo-13>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 80px;
    padding-bottom: 25%;

}

.titulo-13>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 60%;
    display: none;

}



.titulo-14 {


    background-image: url('bg14.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-14>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 5%;

}

.titulo-14>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}


.titulo-15 {


    background-image: url('bg15.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-15>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 10%;

}

.titulo-15>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}


.titulo-16 {


    background-image: url('bg16.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
}

.titulo-16>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 5%;

}

.titulo-16>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    display: none;

}


.titulo-17 {

    background-image: url('bg17.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #333;
}

.titulo-17>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 5%;

}

.titulo-17>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 45%;
    padding-bottom: 20%;
    display: none;

}


.titulo-18 {


    background-image: url('bg18.png');
    background-color: #F4F4F2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #333;
}

.titulo-18>.title-pc {

    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding: 50px;
    padding-bottom: 10%;

}

.titulo-18>.title-mobile {

    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 5%;
    padding-bottom: 80%;
    display: none;

}





.formacao-1 {

    width: 100%;
    padding: 40px;
    font-size: 13pt;
    text-align: center;
    background: #fff;
    color: #444;
    line-height: 200%;
    border-top: 2px solid #eee;
}

.servicos-1 {

    width: 100%;
    padding: 40px;
    background: #FAFAFA;
    color: #444;
    text-align: center;
    border-top: 2px solid #eee;
}

.servicos-card {

    padding: 20px 40px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin: 0px 10px 20px 10px;
    cursor: pointer;
    vertical-align: top;
    transition: all 0.2s ease;
}

.servicos-card:hover {
    background: #eee;
    color: #000;
}

.actions-1 {

    width: 100%;
    padding: 40px;
    background: #FAFAFA;
    color: #444;
    text-align: center;
    border-top: 2px solid #eee;
}

.social {

    width: 230px;
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin: 0px 10px 20px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social:hover {
    background: #eee;
    color: #000;
}


.contact-1 {

    width: 100%;
    padding: 40px;
    background: #FAFAFA;
    color: #444;
    text-align: center;
    border-top: 2px solid #eee;
}

.contact-card {

    width: calc(50% - 5px);
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.contact-card-right-pc {
    display: inline-block;
}

.contact-card-right-mobile {
    display: none
}

.botao {

    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #444;
    cursor: pointer;
    margin-top: 5px;
    border: 2px solid #eee;
    transition: all 0.2s ease;
}

.botao:hover {
    background: #eee;
    color: #000;
}

.conjunto-input {

    height: 60px;
    padding: 0px 10px;
    background: #fff;
    border: none;
    text-align: left;
    display: inline-block;
    border-radius: 5px;
    line-height: 100%;
    vertical-align: top;
    position: relative;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.conjunto-input input,
textarea,
select {
    width: 100%;
    height: 60px;
    margin-top: 0px;
    color: #444;
    font-size: 16px;
    border: none;
    background: none;
    font-weight: 400;
    transition: all 0.3s ease;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.grecaptcha-badge {
    display: none;
}

@media only screen and (max-width: 800px) {

    .titulo-1 {
        margin-top: 0px;
        height: auto;
        background-size: 220% auto;
        background-position: right top;
    }

    .titulo-1>.title-pc {
        display: none;
    }

    .titulo-1>.title-mobile {
        display: inline-block;
    }

    .titulo-2 {
        margin-top: 0px;
        height: auto;
        background-size: 220% auto;
        background-position: right top;
        border-bottom: 1px solid #eee;
    }

    .titulo-2>.title-pc {
        display: none;
    }

    .titulo-2>.title-mobile {
        display: inline-block;
    }

    .titulo-3 {
        margin-top: 0px;
        height: auto;
        background-size: 200% auto;
        background-position: right top;
        border-bottom: 1px solid #eee;
    }

    .titulo-3>.title-pc {
        display: none;
    }

    .titulo-3>.title-mobile {
        display: inline-block;
    }

    .titulo-4 {
        margin-top: 0px;
        height: auto;
        background-size: auto 100%;
        background-position: center top;
        border-bottom: 1px solid #eee;
    }

    .titulo-4>.title-pc {
        display: none;
    }

    .titulo-4>.title-mobile {
        display: inline-block;
    }

    .titulo-5 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-5>.title-pc {
        display: none;
    }

    .titulo-5>.title-mobile {
        display: inline-block;
    }

    .titulo-6 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-6>.title-pc {
        display: none;
    }

    .titulo-6>.title-mobile {
        display: inline-block;
    }

    .titulo-7 {

        margin-top: 0px;
        height: auto;
        background-size: auto 100%;
        background-position: 20% bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-7>.title-pc {
        display: none;
    }

    .titulo-7>.title-mobile {
        display: inline-block;
    }

    .titulo-8 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-8>.title-pc {
        display: none;
    }

    .titulo-8>.title-mobile {
        display: inline-block;
    }

    .titulo-9 {

        margin-top: 0px;
        height: auto;
        background-size: 200% auto;
        background-position: right top;
        border-bottom: 1px solid #eee;
    }

    .titulo-9>.title-pc {
        display: none;
    }

    .titulo-9>.title-mobile {
        display: inline-block;
    }

    .titulo-10 {

        margin-top: 0px;
        height: auto;
        background-size: 200% auto;
        background-position: right top;
        border-bottom: 1px solid #eee;
    }

    .titulo-10>.title-pc {
        display: none;
    }

    .titulo-10>.title-mobile {
        display: inline-block;
    }

    .titulo-11 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-11>.title-pc {
        display: none;
    }

    .titulo-11>.title-mobile {
        display: inline-block;
    }

    .titulo-12 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-12>.title-pc {
        display: none;
    }

    .titulo-12>.title-mobile {
        display: inline-block;
    }

    .titulo-13 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-13>.title-pc {
        display: none;
    }

    .titulo-13>.title-mobile {
        display: inline-block;
    }

    .titulo-14 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-14>.title-pc {
        display: none;
    }

    .titulo-14>.title-mobile {
        display: inline-block;
    }

    .titulo-15 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-15>.title-pc {
        display: none;
    }

    .titulo-15>.title-mobile {
        display: inline-block;
    }

    .titulo-16 {

        margin-top: 0px;
        height: auto;
        background-size: cover;
        background-position: -300px 100px;
        background-color: #88CAD6;
        border-bottom: 1px solid #eee;
    }

    .titulo-16>.title-pc {
        display: none;
    }

    .titulo-16>.title-mobile {
        display: inline-block;
    }

    .titulo-17 {

        margin-top: 0px;
        height: auto;
        background-image: url('bg17-m.png');
        background-size: cover;
        background-position: right top;
        border-bottom: 1px solid #eee;
    }

    .titulo-17>.title-pc {
        display: none;
    }

    .titulo-17>.title-mobile {
        display: inline-block;
    }

    .titulo-18 {

        margin-top: 0px;
        height: auto;
        background-image: url('bg18-m.png');
        background-size: cover;
        background-position: center bottom;
        border-bottom: 1px solid #eee;
    }

    .titulo-18>.title-pc {
        display: none;
    }

    .titulo-18>.title-mobile {
        display: inline-block;
    }

    .formacao-1 {

        width: 100%;
        padding: 8%;
        padding-top: 10%;
        font-size: 13pt;
        text-align: center;
        background: #fff;
        color: #444;
    }

    #formacao-esquerda {
        width: 100% !important;
        margin-top: 30px;
        text-align: center !important;
    }

    #formacao-direita {
        width: 100% !important;
        margin-top: 40px;
    }

    .servicos-1 {

        padding-top: 10%;

    }

    .servicos-card {

        width: 100%;
        padding: 20px;
        margin: 0px 0px 10px 0px;

    }

    .actions-1 {

        padding-top: 10%;

    }

    .social {

        width: 80%;
        margin: 0px 0px 20px 0px;
    }

    .contact-card {

        width: 100%;
    }

    .contact-card-right-pc {
        display: none;
    }

    .contact-card-right-mobile {
        display: inline-block;
    }

}